NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
GNEWS_API_KEY=
YOUTUBE_NEWS_CHANNEL_IDS=UCNye-wNBqNL5ZzHSJj3l8Bg,UCknLrEdhRCp1aegoMqRaCZg
